* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* .topbar ul {
    list-style: none;
    text-align: center;
} */


header {
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.topbar {
    height: 70px;
    display: flex;
    max-width: 1170px;
    margin: auto;
}

.topbar .menu-column {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.topbar li {
    padding: 0px 15px;
    display: inline-block;
}

.logo-column {
    width: calc(100% / 3);
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

#logo {
    height: 100%
}

.icon-column {
    width: calc(100% / 3);
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 0px 10px;
}

.icon-column i {
    padding: 0px 10px
}

.container {
    max-width: 1170px;
    margin: 100px auto;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.product {
    position: relative;
}

.col {
    width: calc(100% / 3);
    padding: 20px;
}

.product img {
    width: 100%;
}

.tag {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 5px;
    font-size: 20px;
    color: white;
    z-index: 3;

}

.tag-red {
    background-color: red;
    z-index: 3;

}

.tag-green {
    background-color: green;
    left: 60px;
    z-index: 3;

}

.tag-green-sx {
    background-color: green;
    z-index: 3;

}


.text-red {
    color: red;
    padding-right: 5px;
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}

.heart {
    position: absolute;
    top: 0px;
    left: calc(100% - 30px);
    padding: 5px;
    font-size: 20px;
    z-index: 3;
}

.model-top {
    position: absolute;
    top: 0px;
    left: 0px;
}

.model-top:hover {
    /* display: none; */
    opacity: 0;
}

.hover-red {
    color: red;

}

.heart:hover {
    /* display: none; */
    opacity: 0;

}

footer {
    background-color: #1A1A1A;
    width: 100%;

}

.footer-container {
    height: 100px;
    display: flex;
    max-width: 1170px;
    margin: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.footer-container i {
    padding: 10px 10px
}

.footer-container h3 {
    padding: 10px 0px
}